.egg-container {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.egg-white {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50% / 60% 60% 40% 40%;
}

.egg-yolk {
    background-color: #ffd700;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 15%;
}